*rel_second_model.pth
*__pycache__/*
*.pyc
*sub/*
engine/data/tmp/bingimgs/*
!engine/data/tmp/bingimgs/.gitkeep
engine/data/tmp/azure_rel_dict/*
!engine/data/tmp/azure_rel_dict/.gitkeep
*engine/data/tmp/obj.json
*.jpg
*.jpeg
*.png
!*childbotscreen.png
*tmp/rel_sec_test*
*childicon.png
*penicon.png
*bootstrap/*
!*.gitkeep
*rel_first_model.pth
*rel_second_model.pth
